* {
  margin: 0;
  padding: 0;
  font-family: 'B612 Mono', monospace;
}

/* body {
  background: url('./list.png') no-repeat fixed;
  background-position: left bottom;
  background-size: 700px 500px;
} */

.header {
  text-align: center;
  text-transform: uppercase;
  margin: 25px;
  padding: 10px;
  letter-spacing: 5px;
  color: #ed7354;
}

form {
  margin: 30px 15px;
}

input[type=text],
button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 25px;
  padding: 15px;
  outline: none;
  text-align: center;
}

input[type=text] {
  border: none;
  width: 300px;
}

button {
  background-color: white;
  border: none;
}
img {
  width: 600px;
  height: 400px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}